<?xml version="1.0"?>
<robot name="car">
<material name="Grey">
  <color rgba="0.2 0.2 0.2 1.0"/>
</material>
<material name="gem_e4_blue">
  <color rgba="0.0 0.25 0.75 1.0"/>
</material>

  <link name="base_link">
    <visual name="base_visual">
    <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://simulator_art/rviz/gem_e4.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="gem_e4_blue"/>
    </visual>
  </link>
</robot>

